<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  </head>
  <body>
    <h1>Cart</h1>
    <h4>{{month}}</h4>
    <h4>{{item}}</h4>

    <form class = "grid" action="/result" method="POST">
      <label for="month">Month </label>
      <input type="text" id="month" name="month" required><br>
      <label for="itemNo">Item NO</label>
      <input type="text" id="itemNo" name="itemNo" required><br>
      <input type="submit" value="save">
    </form>
  </body>
</html>
